@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #FFCF00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
    --accent: #FFCF00;
  }
}

@layer base {
  h2 {
    @apply text-2xl mb-2 font-bold;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  color: var(--accent);
}

.link:hover {
  text-decoration: underline;
}